/* Acá va tu código */
.mensaje {
    width: 300px;
    height: 100px;    
   
}

.cifrado {
    width: 300px;
    height: 100px;    
    
}  
body {
background-color: #ffe6e6;

}
h1{
text-align: center;
}
#container{
margin: auto;
width: 30%;
}
textarea{
margin: 10px;
border: 05px solid blue;
box-sizing: border-box;
}

